APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_URL=http://dev-www.legalasset.com

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

GOOGLE_ANALYTICS=null
ANALYTICS_VIEW_ID=null
ANALYTICS_JSON=null

#BRAND RELATED VALUES
BRAND_SUPPORT_EMAIL=info@legalasset.com
BRAND_EMAIL_DOMAIN=@legalasset.com
BRAND_INITIALS=LA
BRAND_FULL_NAME="Legal Asset"
BRAND_WEB_DOMAIN=legalasset.com
BRAND_BUSINESS_TITLE="Legal Asset Recruitment Ltd"