/vendor
/node_modules
/public/storage
/public/build
/public/css
/public/js
/public/robots.txt
Homestead.yaml
Homestead.json
.env
.vagrant
*.swp
nbproject/
.notes
.idea/
npm-debug.log
.php_cs.cache
/public/bower_components/
/storage/debugbar/
tags
