// Variables

	$red:        		#b53038;
	$red-two: 			#d9343e;
	$dark-grey:  		#2d2d2d;
	$darker-grey: 		#404040;
	$light-grey: 		#f5f5f5;
	$light-grey-two: 	#f4f5f8;
	$grey:				#aaaaaa;
	$grey-two:			#a9a9a9;
	$grey-three:		#5c5b5b;
	$light-green:		#34be78;
	$twitter-blue: 		#4dacd8;
	$linkedin-blue: 	#205392;
    $border-grey:       #ccc;
